node_modules
.DS_Store

# log
npm-debug.log
yarn-error.log

# ide
.vscode
.idea

dist
.history
dist.zip

tsconfig.json
package-lock.json

# 打包分析json http://webpack.github.io/analyse/
stats.json
yarn.lock